GOLDTRACE_BACKEND_URL=http://127.0.0.1:8000/sensor-data

GOLDTRACE_ALLOWED_NODES=NODE_A,NODE_B

LORA_FREQUENCY_MHZ=868.0
LORA_CS_PIN=CE1
LORA_RESET_PIN=D25

LORA_SHARED_KEY=CHANGE_THIS_TO_THE_SAME_SECRET_AS_THE_ESP32

LCD_ENABLED=true
LCD_I2C_ADDRESS=0x27

SIM7600_ENABLED=false
SIM7600_PORT=/dev/ttyUSB2
SIM7600_BAUD=115200

BACKEND_TIMEOUT_SECONDS=5
